#title {
     color: deepskyblue;
 }

#container {
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    font-size: 30px;
}

#title, #statement, #content {
    display: block;
    width: 100%;
}